# Python
__pycache__/
*.pyc
*.pyo

# 가상환경
venv/

# Jupyter
.ipynb_checkpoints/

# 시스템/IDE
.DS_Store
.vscode/

# DBT 관련
target/
dbt_modules/
dbt_packages/

# 환경 설정
.env

# 데이터
*.parquet
*.csv
*.log
*.crc

# Spark output
*_SUCCESS
output/

logs/